<?php
#	require_once(dirname(realpath(__DIR__)).'/system/lib/config.php');
#	$handle = pageHandler::initialize();
?><!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja-JP" lang="ja-JP" prefix="og: http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>太陽光発電システムやソーラーパネルの設置・メンテナンスのLooop</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="format-detection" content="telephone=no,address=no,email=no">
<meta name="keywords" content="ループ,Looop,再生可能エネルギー,太陽光発電,メガソーラー,風力発電,監視装置,O&M" />
<meta name="description" content="メガソーラー・太陽光発電システムならLooop（ループ）の製品をご覧ください。Looop（ループ）は太陽光発電所の開発・販売・施工をワンストップで行う自然エネルギー専門カンパニーです。" />
<meta name="robots" content="index,follow" />
<meta property="og:title" content="Looop | 太陽光発電システムやソーラーパネルの設置・メンテナンス" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://looop.co.jp/" />
<meta property="og:image" content="https://looop.co.jp/_asset/img/thumb.jpg" />
<meta property="og:description" content="メガソーラー・太陽光発電システムならLooop（ループ）の製品をご覧ください。Looop（ループ）は太陽光発電所の開発・販売・施工をワンストップで行う自然エネルギー専門カンパニーです。" />
<link rel="stylesheet" href="_asset/css/import.css" type="text/css"/>
</head>


<body style="margin-top:0;">

<?php require_once(realpath(__DIR__).'/_asset/include/header.html'); ?>

<div style="height:1000px;background: #0A51A0;"></div>

<?php require_once(realpath(__DIR__).'/_asset/include/footer.html'); ?>

<script src="_asset/js/import.js" language="JavaScript"></script>
<script src="_asset/js/gridtab.js" language="JavaScript"></script>
</body>

</html>
